@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<ItalianCharmBracelet.Data.PurchaseInvoice>
@{
    ViewData["Title"] = "PurchaseInvoice";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>PurchaseInvoice</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table-responsive">

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Date
                </th>
                <th>
                    Total Payment
                </th>
                <th>
                    Note
                </th>
                <th>
                    State
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPayment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>